* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f9f9f9;
    color: #222;
}

/* Header */
header {
    text-align: center;
    padding: 80px 20px;
    background-color: #111;
    color: white;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e63939;
}

/* Sections */
section {
    padding: 80px 20px;
    text-align: center;
}

section h2 {
    margin-bottom: 15px;
    font-size: 2rem;
}

section p {
    max-width: 600px;
    margin: auto;
    line-height: 1.6;
}

/* Features list */
ul {
    list-style: none;
    margin-top: 20px;
}

li {
    margin: 10px 0;
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}
@media (max-width: 768px) {
    header h1 {
        font-size: 2rem;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }
}